:root{
    --fontdm:"DM Mono", monospace;
    --fontint:"Inter", sans-serif;
    --colorblack: #111C24;
    --colorgreen: #CAFC01;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1300px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 84px;
    .nav__logo{
        color: var(--colorblack);
        font-family: var(--fontdm);
        font-weight: 500;
        line-height: 24px;
    }
    &__contact{
        color: var(--colorblack);
        font-family: var(--fontint);
        font-weight: 300;
        line-height: 32px;
    }
}
.list-item{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0 60px; 
    .list-item__link{
       color: var(--colorblack) ;
       font-family: var(--fontint);
       font-weight: 300;
       line-height: 32px;
    }
}
a{
    text-decoration: none;
}
.hero{
    height: 470px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 60px;
    .hero-wraper{
        max-width: 1300px;
        width: 100%;
        height: 297px;
        margin: 0 auto;
        padding: 0 16px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        .hero__text{
            height: 100%;
            width: 585px;
            font-family: var(--fontdm);
            font-size: 90px;
            font-weight: 300;
            line-height: 99px;
            color: var(--colorblack);
        }
        .hero__description{
            max-width: 605px;
            width: 100%;
            height: 297px;
            p{
                font-family: var(--fontint);
                font-size: 16px;
                font-weight: 300;
                line-height: 32px;
                padding-top: 151px;
            }
        }
    }
}
.kickstart{
    width: 100%;
    height: 737px;
    padding-top: 60px;
    box-sizing: content-box;
    .kickstart__line{
        height: 137px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--colorgreen);
    }

}
.motivation{
    width: 100%;
    height: 137px;

    .motivation__text{
        font-family: var(--fontdm);
        font-size: 56px;
        font-weight: 300;
        line-height: 72px;
        color: var(--colorblack);
}
}
.content{
    height: 852px;
    display: flex;
    justify-content: flex-end;
    margin-top: 60px;
}
.content-wraper{
    max-width: 1300px;
    width: 100%;
    height: 852px;
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .content__cards{
        max-width: 420px;
        width: 100%;
        height: 732px;
        display: flex;
        flex-direction: column;
        gap: 60px 0;
        .content__card{
            width: 100%;
            height: 204px;
            img{
                padding-bottom: 30px;
            }
            strong{
                display: block;
                font-family: var(--fontdm);
                color: var(--colorblack);
                font-size: 24px;
                font-weight: 400;
                line-height: 40px;
                padding-bottom: 30px;
            }
            p{
                font-size: 16px;
                font-family: var(--fontint);
                line-height: 32px;
                font-weight: 300;
                color: var(--colorblack);
            }
        }
    }
}
.kickstart2{
    width: 100%;
    height: 137px;
    padding-top: 60px;
    box-sizing: content-box;
    .kickstart2__line{
        height: 137px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--colorblack);
    }

}
.img{
  height: 600px;
  img{
    width: 100%;
  }
}
.welcome{
    margin-top: 90px;
    width: 100%;
    height: 137px;

    p{
        font-family: var(--fontdm);
        font-size: 56px;
        font-weight: 300;
        line-height: 72px;
        color: var(--colorblack);
}
}